/* reset css imported */
@import url(./reset.css);

/* google fonts imported */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');


body{
    font-family: 'Inter', sans-serif;
}

#header{
    background-image: url(../images/header-bg-img.webp);
    height: 100vh;
    background-position:center ;
    background-size: cover ;
}

#navbar{
    width: 100%;
    height: 80px;
    padding: 20px 100px;
    top: 40px;
}

.navbar-left{
    float: left;

}
.navbar-right{
    float: right;
}
.navbar-right ul li{
    display: inline-block;
    padding: 20px 20px;
}
.navbar-right ul li > a{
    text-decoration: none;
    color:#fff;
    font-weight: 600;
}

.navbar-right ul li:last-child{
    background-color: #10C98F;
    padding: 20px 30px;
    cursor: pointer;
}
.navbar-right ul li:nth-child(4){
    position: relative;
    cursor: pointer;

    
}
.navbar-right ul li:nth-child(4):hover .dropdown{
    display: block;
}


.dropdown{
    display: none;
    border-radius: 2px;
    width: 140px;
    position: absolute;
    left: 16px;
    top: 55px ;
    background-color: #fff;
    padding: 20px 13px 5px ;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}


.dropdown a{
    color: #0F4332 ;
    text-decoration: none;
    display: block;
    font-weight: 600;
    padding-bottom: 13px;
    transition: all .3s;
}

.dropdown a:hover{
    color: #10C98F ;
    margin-left: 5px;
}

